.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: brown;
}


p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
  font-style: normal;
  
}

.text2 {
  font-size: 12px;
  line-height: 1.5;
  margin: 10px 0;
  font-style: italic;
}